# ignore
*.xlsx
*.ppt
*~
backup/
excell/
reference_mlst/
samplesNZGL02259/
data/
final_results/
samples/
targz_files/
demultiplex/
NZGL01799/
samplesNZGL01799/
testing/
test_dataset/
!reference_mlst/
!reference_mlst/*
!test_samples/
!test_samples/*
